<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MybatisBoard</display-name>
  
  <!-- 스프링 DI AOP를 위한 설정 -->
  <listener>
  	<listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>
  		/WEB-INF/context.xml
  	</param-value>
  </context-param>
  
  
  <!-- 스프링 MVC를 위한 DispatcherServlet 설정 -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>
  		org.springframework.web.servlet.DispatcherServlet
  	</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
	  		/WEB-INF/mvc.xml
	  		/WEB-INF/sql/mybatis-config.xml
	  	</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 인코딩 필터 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>
  		org.springframework.web.filter.CharacterEncodingFilter
  	</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
 <!--  <error-page>
	<error-code>404</error-code>
  	<location>/WEB-INF/views/error/no_such_page.jsp</location>
  </error-page> -->
  
  <error-page>
	<error-code>500</error-code>
	<location>/WEB-INF/views/error/session_expired.jsp</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
</web-app>